html,
body {
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: lavender !important;
}
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar-thumb {
  background-color: #D9AFD9;
}
::selection {
  background-color: #97D9E1;
  color: #D9AFD9;
}
.navbar {
  background-color: transparent !important;
}
.navbar-item h1 {
  font-size: 1.2rem;
  font-style: italic;
  font-family: 'Besley', serif;
  color: #000;
  padding-top: 20px;
}
.navbar-item h1:hover {
  color:#97D9E1;
}
.hero {
  width: 100%;
  padding: 100px 300px 100px 0;
}
.hero h2 {
  font-family: 'Azeret Mono', monospace;
  font-size: 3rem;
  line-height: 3rem;
  padding: 0 15px;
}
.card {
  box-shadow: unset !important;
  border-radius: unset !important;
  background-color: transparent !important;
}
.card-content {
  padding: 1.5rem 0 !important;
}
.content {
  font-style: italic;
}
.card-image img {
  border-radius: unset !important;
  box-shadow: 0 30px 60px -10px rgb(0 0 0 / 30%), 0 18px 36px -18px rgb(0 0 0 / 33%) !important;
}
.card-image img:hover {
  box-shadow: 2px 8px 45px rgba(0, 0, 0, 0.2);
  transform: translate3D(0, -10px, 0);
  opacity: 0.7;
}
.card .media:not(:last-child),
.content:not(:last-child) {
  margin-bottom: 0.5rem !important;
}
.card {
  width: 70% !important;
}
.title {
  line-height: unset !important;
}
footer {
  font-size: 14px;
  font-family: 'Azeret Mono', monospace;
  padding-top: 100px;
}
.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 50px 15px 10px;
}
.copyright {
  font-size: 10px;
  color: gray;
  padding: 50px 15px 20px;
  text-align: center;
}
.row {
  padding: 0 15px;
}
@media (max-width: 556px) {
  .card {
    width: initial !important;
  }
  .hero {
    width: 100%;
    padding: 100px 100px 100px 0;
  }
  .hero h2 {
    font-size: 2rem;
    line-height: 2rem;
  }
  .footer-wrapper {
    flex-flow: column;
    justify-content: space-between;
    width: 100%;
  }
  .infos {
    width: 100%;
    padding-bottom: 30px;
  }
  .infos:last-child {
    padding-bottom: 0;
  }
}